<%= simple_form_for(@frais_hebergement) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nbNuiteeAvecFrais ,:label=>"Nombre de nuits avec frais"%>
    <%= f.input :nbJustificatifs ,:label=>"Nombre de justificatifs"%>
    <%= f.input :montant ,:label=>"Montant"%>
    <%= f.input :rembourse ,:label=>"Remboursé?"%>
    <%= f.input :logeDansAutreLogement ,:label=>"Autre logement?"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
