<p id="notice"><%= notice %></p>

<p>
  <b>Nombre de nuits avec frais:</b>
  <%= @frais_hebergement.nbNuiteeAvecFrais %>
</p>

<p>
  <b>Nombre de justificatifs:</b>
  <%= @frais_hebergement.nbJustificatifs %>
</p>

<p>
  <b>Montant:</b>
  <%= @frais_hebergement.montant %>
</p>

<p>
  <b>Remboursé?:</b>
  <%= @frais_hebergement.rembourse %>
</p>

<p>
  <b>Autre logement?:</b>
  <%= @frais_hebergement.logeDansAutreLogement %>
</p>


<%= link_to 'Edit', edit_frais_hebergement_path(@frais_hebergement) %> |
<%= link_to 'Back', frais_hebergements_path %>
