<h1>Liste des véhicules personnels</h1>

<table>
  <tr>
    <th>Numéro de la plaque minéralogique</th>
    <th>Puissance du véhicule</th>
    <th>Date de l'autorisation annuelle d'autorisation</th>
    <th>Département</th>
    <th>Académie</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vehicule_persos.each do |vehicule_perso| %>
  <tr>
    <td><%= vehicule_perso.numMineralogique %></td>
    <td><%= vehicule_perso.puissanceVehicule %></td>
    <td><%= vehicule_perso.DateAutorisationAnnuelleDUtilisation %></td>
    <td><%= vehicule_perso.departement %></td>
    <td><%= vehicule_perso.academie %></td>
    <td><%= link_to 'Afficher', vehicule_perso %></td>
    <td><%= link_to 'Modifier', edit_vehicule_perso_path(vehicule_perso) %></td>
   
    <td><%= link_to 'Supprimer', vehicule_perso, :method => :delete, :data => { :confirm => 'Etes-vous sur?' } %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau véhicule personnel', new_vehicule_perso_path %>

