<p id="notice"><%= notice %></p>

<p>
  <b>Numéro de la plaque minéralogique:</b>
  <%= @vehicule_perso.numMineralogique %>
</p>

<p>
  <b>Puissance du véhicule:</b>
  <%= @vehicule_perso.puissanceVehicule %>
</p>

<p>
  <b>Date de l'autorisation annuelle d'autorisation:</b>
  <%= @vehicule_perso.DateAutorisationAnnuelleDUtilisation %>
</p>

<p>
  <b>Département:</b>
  <%= @vehicule_perso.departement %>
</p>

<p>
  <b>Académie:</b>
  <%= @vehicule_perso.academie %>
</p>


<%= link_to 'Modifier', edit_vehicule_perso_path(@vehicule_perso) %> |
<%= link_to 'Retour', vehicule_persos_path %>
