<%= simple_form_for(@frais_annex) do |f| %>
  <%= f.error_notification %>


  <div class= "form-inputs" >
    <%= f.input :natureDepense ,:label=>"Nature des dépenses" %>
    <%= f.input :depense ,:label=>"Depense" %>
    <%= f.input :nbJustificatifs ,:label=>"Nombre de justificatifs" %>
    <%= f.input :rembourse ,:label=>"Rembourse?" %>
  </div>

  <div class="grid-12-12" class="form-actions">
    <%= f.button :submit, :value=>"Valider" %>
  </div>
<% end %>
