<h1>Liste des frais annexes</h1>

<table>
  <tr>
    <th>Nature des dépenses</th>
    <th>Depense</th>
    <th>Nombre de justificatifs</th>
    <th>Rembourse?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @frais_annexes.each do |frais_annex| %>
  <tr>
    <td><%= frais_annex.natureDepense %></td>
    <td><%= frais_annex.depense %></td>
    <td><%= frais_annex.nbJustificatifs %></td>
    <td><%= frais_annex.rembourse %></td>
    <td><%= link_to 'Afficher', frais_annex %></td>
    <td><%= link_to 'Modifier', edit_frais_annex_path(frais_annex) %></td>
    <td><%= link_to 'Supprimer', frais_annex, :method => :delete, :data => { :confirm => 'Etes-vous sur?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau frais annexe', new_frais_annex_path %>
