<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :civilite , :label =>"Monsieur ou madame?"%>
    <%= f.input :nom , :label =>"Nom de l'utilisateur"%>
    <%= f.input :prenom , :label =>"Prenom de l'utilisateur"%>
    <%= f.input :grade , :label =>"Grade de l'utilisateur"%>
    <%= f.input :adresse_familiale , :label =>"Adresse familiale de l'utilisateur"%>
    <%= f.input :adresse_administrative , :label =>"Adresse administratice de l'utilisateur"%>
    <%= f.input :indice_majore , :label =>"Indice majore de l'utilisateur"%>
    <%= f.input :equipe , :label =>"Equipe de l'utilisateur"%>
    <%= f.input :departement , :label =>"Departement de l'utilisateur"%>
    <%= f.input :rib_valide , :label =>"Le rib est-il valide?"%>
    <%= f.input :nom_banque , :label =>"Nom de la banque"%>
    <%= f.input :email, :label => "Email"%>
    <%= f.input :password , :label =>"Mot de passe"%>
    <%= f.input :password_confirmation , :label =>"Confirmez le mot de passe"%>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
