<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :civilite , :label =>"Monsieur ou madame?"%>
  </div>
  <div class="field">
    <%= f.text_field :nom , :label =>"Nom de l'utilisateur"%>
  </div>
  <div class="field">
    <%= f.text_field :prenom , :label =>"Prénom de l'utilisateur"%>
  </div>
  <div class="field">
    <%= f.text_field :grade , :label =>"Grade de l'utilisateur"%>
  </div>
  <div class="field">
    <%= f.text_field :adresse_familiale , :label =>"Adresse familiale de l'utilisateur"%>
  </div>
  <div class="field">
    <%= f.text_field :adresse_administrative , :label =>"Adresse administratice de l'utilisateur"%>
  </div>
  <div class="field">
    <%= f.number_field :indice_majore , :label =>"Indice majoré de l'utilisateur"%>
  </div>
  <div class="field">
    <%= f.text_field :equipe , :label =>"Equipe de l'utilisateur"%>
  </div>
  <div class="field">
    <%= f.text_field :departement , :label =>"Département de l'utilisateur"%>
  </div>
  <div class="field">
    <%= f.check_box :rib_valide , :label =>"Le rib est-il valide?"%>
  </div>
  <div class="field">
    <%= f.text_field :nom_banque , :label =>"Nom de la banque"%>
  </div>
  <div class="field">
    <%= f.password_field :password , :label =>"Mot de passe"%>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation , :label =>"Confirmez le mot de passe"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
