<h1>Liste des utilisateurs</h1>

<table>
  <tr>
    <th>Monsieur ou madame?</th>
    <th>Nom de l'utilisateur</th>
    <th>Prénom de l'utilisateur</th>
    <th>Grade de l'utilisateur"</th>
    <th>Adresse familiale de l'utilisateur</th>
    <th>Adresse administratice de l'utilisateur</th>
    <th>Indice majoré de l'utilisateur</th>
    <th>Equipe de l'utilisateur</th>
    <th>Département de l'utilisateur</th>
    <th>Le rib est-il valide?</th>
    <th>Nom de la banque</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.civilite %></td>
    <td><%= user.nom %></td>
    <td><%= user.prenom %></td>
    <td><%= user.grade %></td>
    <td><%= user.adresse_familiale %></td>
    <td><%= user.adresse_administrative %></td>
    <td><%= user.indice_majore %></td>
    <td><%= user.equipe %></td>
    <td><%= user.departement %></td>
    <td><%= user.rib_valide %></td>
    <td><%= user.nom_banque %></td>    
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% if current_user.admin? %>
    <td><%= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Etes-vous sur?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
