<h1>Liste des utilisateurs</h1>

<table>
  <tr>
    <th>Civilité    </th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Grade</th>
    <th>Adresse familiale</th>
    <th>Adresse administrative</th>
    <th>Indice majoré</th>
    <th>Equipe</th>
    <th>Département</th>
    <th>RIB valide?</th>
    <th>Banque</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.civilite %></td>
    <td><%= user.nom %></td>
    <td><%= user.prenom %></td>
    <td><%= user.grade %></td>
    <td><%= user.adresse_familiale %></td>
    <td><%= user.adresse_administrative %></td>
    <td><%= user.indice_majore %></td>
    <td><%= user.equipe %></td>
    <td><%= user.departement %></td>
    <td><%= user.rib_valide %></td>
    <td><%= user.nom_banque %></td>    

    <td><%= link_to 'Afficher', user %></td>
    <td><%= link_to 'Modifier', edit_user_path(user) %></td>
<% if current_user.admin? %>
    <td><%= link_to 'Supprimer', user, :method => :delete, :data => { :confirm => 'Etes-vous sur?' } %></td>
<% end %>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvel utilisateur', new_user_path %>
