<p id="notice"><%= notice %></p>

<p>
  <b>Monsieur ou madame?:</b>
  <%= @user.civilite %>
</p>

<p>
  <b>Nom de l'utilisateur:</b>
  <%= @user.nom %>
</p>

<p>
  <b>Prénom de l'utilisateur:</b>
  <%= @user.prenom %>
</p>

<p>
  <b>Grade de l'utilisateur":</b>
  <%= @user.grade %>
</p>

<p>
  <b>Adresse familiale de l'utilisateur:</b>
  <%= @user.adresse_familiale %>
</p>

<p>
  <b>Adresse administratice de l'utilisateur:</b>
  <%= @user.adresse_administrative %>
</p>

<p>
  <b>Indice majoré de l'utilisateur:</b>
  <%= @user.indice_majore %>
</p>

<p>
  <b>Equipe de l'utilisateur:</b>
  <%= @user.equipe %>
</p>

<p>
  <b>Département de l'utilisateur:</b>
  <%= @user.departement %>
</p>

<p>
  <b>Le rib est-il valide?:</b>
  <%= @user.rib_valide %>
</p>

<p>
  <b>Nom de la banque:</b>
  <%= @user.nom_banque %>
</p>

<p>
  <b>Mot de passe:</b>
  <%= @user.passwd %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
