<h1>Page d'accueil</h1>
<p><%= link_to 'Frais annexes', frais_annexes_path %></p>
<p><%= link_to 'Frais déplacement', frais_deplacements_path %></p>
<p><%= link_to 'Frais hébergement', frais_hebergements_path %></p>
<p><%= link_to 'Frais repas', frais_repas_path %></p>
<p><%= link_to 'Itinéraires', itineraires_path %></p>
<p><%= link_to 'Missions', missions_path %></p>
<p><%= link_to 'Moyens de transport', moyen_transports_path %></p>
<p><%= link_to 'Utilisateurs', users_path %></p>
<p><%= link_to 'Véhicule personnels', vehicule_persos_path %></p>
