<%= simple_form_for(@itineraire) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :distance ,:label=>"Distance"%>
    <%= f.input :DateHeureDepartResidence ,:label=>"Date et heure du départ du lieu de résidence"%>
    <%= f.input :DateArriveeLieuMission ,:label=>"Date et heure d'arrivée au lieu de la mission"%>
    <%= f.input :DateHeureDepartLieuMission ,:label=>"Date et heure du départ du lieu de la mission"%>
    <%= f.input :DateHeureRetourResidence ,:label=>"Date et heure d'arrivée au lieu de résidence"%>
    <%= f.input :montant ,:label=>"Montant"%>
    <%= f.input :rembourse ,:label=>"Rembourse?"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
