<h1>Liste des itinéraires</h1>

<table>
  <tr>
    <th>Distance</th>
    <th>Date et heure du départ du lieu de résidence</th>
    <th>Date et heure d'arrivée au lieu de la mission</th>
    <th>Date et heure du départ du lieu de la mission</th>
    <th>Date et heure d'arrivée au lieu de résidence</th>
    <th>Montant</th>
    <th>Rembourse?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @itineraires.each do |itineraire| %>
  <tr>
    <td><%= itineraire.distance %></td>
    <td><%= itineraire.DateHeureDepartResidence %></td>
    <td><%= itineraire.DateArriveeLieuMission %></td>
    <td><%= itineraire.DateHeureDepartLieuMission %></td>
    <td><%= itineraire.DateHeureRetourResidence %></td>
    <td><%= itineraire.montant %></td>
    <td><%= itineraire.rembourse %></td>
    <td><%= link_to 'Afficher', itineraire %></td>
    <td><%= link_to 'Modifier', edit_itineraire_path(itineraire) %></td>
    <td><%= link_to 'Supprimer', itineraire, :method => :delete, :data => { :confirm => 'Etes-vous sur?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvel itineraire', new_itineraire_path %>
