<%= simple_form_for(@frais_repa) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nbRepasDansRestaurantAdmin ,:label=>"Nombre de repas en restaurant administratif"%>
    <%= f.input :NbJustificatifsRestauAdmin ,:label=>"Nombre de justificatifs"%>
    <%= f.input :montantRestauAdmin ,:label=>"Montant"%>
    <%= f.input :rembourseRestauAdmin ,:label=>"Rembourse?"%>
    <%= f.input :autresFraisRestaus ,:label=>"Autres frais de restaurant"%>
    <%= f.input :nbJustificatifsAutres ,:label=>"Nombre de justificatifs"%>
    <%= f.input :montantAutres ,:label=>"Montant"%>
    <%= f.input :rembourse ,:label=>"Rembourse?"%>
    <%= f.input :nbRepasGratuits ,:label=>"Nombre de repas gratuits"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :value=>"Valider" %>
  </div>
<% end %>
