<h1>Liste des frais de repas</h1>

<table>
  <tr>
    <th>Nombre de repas en restaurant administratif</th>
    <th>Nombre de justificatifs</th>
    <th>Montant</th>
    <th>Rembourse?</th>
    <th>Autres frais de restaurant</th>
    <th>Nombre de justificatifs</th>
    <th>Montant</th>
    <th>Rembourse?</th>
    <th>Nombre de repas gratuits</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @frais_repas.each do |frais_repa| %>
  <tr>
    <td><%= frais_repa.nbRepasDansRestaurantAdmin %></td>
    <td><%= frais_repa.NbJustificatifsRestauAdmin %></td>
    <td><%= frais_repa.montantRestauAdmin %></td>
    <td><%= frais_repa.rembourseRestauAdmin %></td>
    <td><%= frais_repa.autresFraisRestaus %></td>
    <td><%= frais_repa.nbJustificatifsAutres %></td>
    <td><%= frais_repa.montantAutres %></td>
    <td><%= frais_repa.rembourse %></td>
    <td><%= frais_repa.nbRepasGratuits %></td>
    <td><%= link_to 'Afficher', frais_repa %></td>
    <td><%= link_to 'Modifier', edit_frais_repa_path(frais_repa) %></td>
    <td><%= link_to 'Supprimer', frais_repa, :method => :delete, :data => { :confirm => 'Etes-vous sur?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau frais de repas', new_frais_repa_path %>
