<p id="notice"><%= notice %></p>

<p>
  <b>Nombre de repas en restaurant administratif:</b>
  <%= @frais_repa.nbRepasDansRestaurantAdmin %>
</p>

<p>
  <b>Nombre de justificatifs:</b>
  <%= @frais_repa.NbJustificatifsRestauAdmin %>
</p>

<p>
  <b>Montant:</b>
  <%= @frais_repa.montantRestauAdmin %>
</p>

<p>
  <b>Rembourse?:</b>
  <%= @frais_repa.rembourseRestauAdmin %>
</p>

<p>
  <b>Autres frais de restaurant:</b>
  <%= @frais_repa.autresFraisRestaus %>
</p>

<p>
  <b>Nombre de justificatifs:</b>
  <%= @frais_repa.nbJustificatifsAutres %>
</p>

<p>
  <b>Montant:</b>
  <%= @frais_repa.montantAutres %>
</p>

<p>
  <b>Rembourse?:</b>
  <%= @frais_repa.rembourse %>
</p>

<p>
  <b>Nombre de repas gratuits:</b>
  <%= @frais_repa.nbRepasGratuits %>
</p>


<%= link_to 'Modifier', edit_frais_repa_path(@frais_repa) %> |
<%= link_to 'Retour', frais_repas_path %>
