<%= simple_form_for(@mission) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :compteUser ,:label=>"Nom de l'utilisateur"%>
    <%= f.input :NumConvention ,:label=>"Numero de la convention"%>
    <%= f.input :destination ,:label=>"Destination"%>
    <%= f.input :imputation ,:label=>"Imputation"%>
    <%= f.input :numMarche ,:label=>"Numero de marche"%>
    <%= f.input :frais ,:label=>"Frais"%>
    <%= f.input :permanant ,:label=>"Permanant?"%>
    <%= f.input :dateDepart ,:label=>"Date de depart"%>
    <%= f.input :dateRetour ,:label=>"Date de retour"%>
    <%= f.input :motifDeplacement ,:label=>"Motif du deplacement"%>
    <%= f.input :status ,:label=>"Status"%>
    <%= f.input :dateClotureMission ,:label=>"Date de cloture de la mission"%>
  </div>

  <div class="grid-12-12" class="form-actions">
    <%= f.button :submit, :value=>"Valider" %>
  </div>
<% end %>
