<h1>Liste des missions</h1>

<table>
  <tr>
    <th>Nom de l'utilisateur</th>
    <th>Numéro de la convention</th>
    <th>Destination</th>
    <th>Imputation</th>
    <th>Numero de marché</th>
    <th>Frais</th>
    <th>Permanant?</th>
    <th>Date de départ</th>
    <th>Date de retour</th>
    <th>Motif du déplacement</th>
    <th>Status</th>
    <th>Date de cloture de la mission</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @missions.each do |mission| %>
  <tr>
    <td><%= mission.compteUser %></td>
    <td><%= mission.NumConvention %></td>
    <td><%= mission.destination %></td>
    <td><%= mission.imputation %></td>
    <td><%= mission.numMarche %></td>
    <td><%= mission.frais %></td>
    <td><%= mission.permanant %></td>
    <td><%= mission.dateDepart %></td>
    <td><%= mission.dateRetour %></td>
    <td><%= mission.motifDeplacement %></td>
    <td><%= mission.status %></td>
    <td><%= mission.dateClotureMission %></td>
    <td><%= link_to 'Afficher', mission %></td>
    <td><%= link_to 'Modifier', edit_mission_path(mission) %></td>
    <td><%= link_to 'Supprimer', mission, :method => :delete, :data => { :confirm => 'Etes-vous sur?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mission', new_mission_path %>
