<p id="notice"><%= notice %></p>

<p>
  <b>Nom de l'utilisateur:</b>
  <%= @mission.compteUser %>
</p>

<p>
  <b>Numéro de la convention:</b>
  <%= @mission.NumConvention %>
</p>

<p>
  <b>Destination:</b>
  <%= @mission.destination %>
</p>

<p>
  <b>Imputation:</b>
  <%= @mission.imputation %>
</p>

<p>
  <b>Numero de marché:</b>
  <%= @mission.numMarche %>
</p>

<p>
  <b>Frais:</b>
  <%= @mission.frais %>
</p>

<p>
  <b>Permanant?:</b>
  <%= @mission.permanant %>
</p>

<p>
  <b>Date de départ:</b>
  <%= @mission.dateDepart %>
</p>

<p>
  <b>Date de retour:</b>
  <%= @mission.dateRetour %>
</p>

<p>
  <b>Motif du déplacement:</b>
  <%= @mission.motifDeplacement %>
</p>

<p>
  <b>Status:</b>
  <%= @mission.status %>
</p>

<p>
  <b>Date de cloture de la mission:</b>
  <%= @mission.dateClotureMission %>
</p>


<%= link_to 'Modifier', edit_mission_path(@mission) %> |
<%= link_to 'Retour', missions_path %>
