<%= simple_form_for(@moyen_transport) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :avion ,:label=>"Avion?"%>
    <%= f.input :parkingAeroport ,:label=>"Utilisation du parking de l'aeroport?"%>
    <%= f.input :train ,:label=>"Train?"%>
    <%= f.input :classe ,:label=>"En 1ère classe?"%>
    <%= f.input :parkingGare ,:label=>"Utilisation du parking de la gare?"%>
    <%= f.input :reservation ,:label=>"Reservation?"%>
    <%= f.input :couchette ,:label=>"Avec couchette?"%>
    <%= f.input :wagonLit ,:label=>"Dans un wagon lit?"%>
    <%= f.input :supplements ,:label=>"Un supplement?"%>
    <%= f.input :taxi ,:label=>"Taxi?"%>
    <%= f.input :vehiculeLoue ,:label=>"Location de vehicule?"%>
    <%= f.input :metro ,:label=>"Metro?"%>
    <%= f.input :rer ,:label=>"RER?"%>
    <%= f.input :autobus ,:label=>"Autobus?"%>
    <%= f.input :tramway ,:label=>"Tramway?"%>
    <%= f.input :missionAvecTransport ,:label=>"Mission avec transport?"%>
    <%= f.input :vehiculeAdmin ,:label=>"Vehicule administratif?"%>
    <%= f.input :fraisAutoroute ,:label=>"Frais d'autoroute?"%>
    <%= f.input :parking ,:label=>"Frais de parking?"%>
    <%= f.input :vehiculePerso ,:label=>"Utilisation du vehicule personnel?"%>
    <%= f.input :demandeAutorisationPonctuelleVehicule ,:label=>"Demander une autorisation ponctuelle pour ce vehicule?"%>
  </div>

  <div class="grid-12-12" class="form-actions">
    <%= f.button :submit, :value=>"Valider" %>
  </div>
<% end %>
