<%= simple_form_for(@moyen_transport) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :avion label:"Avion?"%>
    <%= f.input :parkingAeroport label:"Utilisation du parking de l'aéroport?"%>
    <%= f.input :train label:"Train?"%>
    <%= f.input :classe label:"Quelle classe?"%>
    <%= f.input :parkingGare label:"Utilisation du parking de la gare?"%>
    <%= f.input :reservation label:"Réservation?"%>
    <%= f.input :couchette label:"Avec couchette?"%>
    <%= f.input :wagonLit label:"Dans un wagon lit?"%>
    <%= f.input :supplements label:"Un supplément?"%>
    <%= f.input :taxi label:"Taxi?"%>
    <%= f.input :vehiculeLoue label:"Location de véhicule?"%>
    <%= f.input :metro label:"Metro?"%>
    <%= f.input :rer label:"RER?"%>
    <%= f.input :autobus label:"Autobus?"%>
    <%= f.input :tramway label:"Tramway?"%>
    <%= f.input :missionAvecTransport label:"Mission avec transport?"%>
    <%= f.input :vehiculeAdmin label:"Véhicule administratif?"%>
    <%= f.input :fraisAutoroute label:"Frais d'autoroute?"%>
    <%= f.input :parking label:"Frais de parking?"%>
    <%= f.input :vehiculePerso label:"Utilisation du véhicule personnel?"%>
    <%= f.input :demandeAutorisationPonctuelleVehicule label:"Demander une autorisation ponctuelle pour ce véhicule?"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
