<h1>Liste des moyens de transport</h1>

<table>
  <tr>
    <th>Avion</th>
    <th>Parking aéroport</th>
    <th>Train</th>
    <th>1ère classe?</th>
    <th>Parking gare</th>
    <th>Réservation?</th>
    <th>Couchette?</th>
    <th>Wagon lit?</th>
    <th>Supplément?</th>
    <th>Taxi</th>
    <th>Location véhicule</th>
    <th>Metro</th>
    <th>RER</th>
    <th>Autobus</th>
    <th>Tramway</th>
    <th>Mission avec transport</th>
    <th>Véhicule administratif</th>
    <th>Frais autoroute</th>
    <th>Frais parking</th>
    <th>Véhicule personnel</th>
    <th>Autorisation ponctuelle?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moyen_transports.each do |moyen_transport| %>
  <tr>
    <td><%= moyen_transport.avion %></td>
    <td><%= moyen_transport.parkingAeroport %></td>
    <td><%= moyen_transport.train %></td>
    <td><%= moyen_transport.classe %></td>
    <td><%= moyen_transport.parkingGare %></td>
    <td><%= moyen_transport.reservation %></td>
    <td><%= moyen_transport.couchette %></td>
    <td><%= moyen_transport.wagonLit %></td>
    <td><%= moyen_transport.supplements %></td>
    <td><%= moyen_transport.taxi %></td>
    <td><%= moyen_transport.vehiculeLoue %></td>
    <td><%= moyen_transport.metro %></td>
    <td><%= moyen_transport.rer %></td>
    <td><%= moyen_transport.autobus %></td>
    <td><%= moyen_transport.tramway %></td>
    <td><%= moyen_transport.missionAvecTransport %></td>
    <td><%= moyen_transport.vehiculeAdmin %></td>
    <td><%= moyen_transport.fraisAutoroute %></td>
    <td><%= moyen_transport.parking %></td>
    <td><%= moyen_transport.vehiculePerso %></td>
    <td><%= moyen_transport.demandeAutorisationPonctuelleVehicule %></td>
    <td><%= link_to 'Afficher', moyen_transport %></td>
    <td><%= link_to 'Modifier', edit_moyen_transport_path(moyen_transport) %></td>
   
    <td><%= link_to 'Supprimer', moyen_transport, :method => :delete, :data => { :confirm => 'Etes-vous sur?' } %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau moyen de transport', new_moyen_transport_path %>

