<p id="notice"><%= notice %></p>

<p>
  <b>Avion?:</b>
  <%= @moyen_transport.avion %>
</p>

<p>
  <b>Utilisation du parking de l'aéroport?:</b>
  <%= @moyen_transport.parkingAeroport %>
</p>

<p>
  <b>Train?:</b>
  <%= @moyen_transport.train %>
</p>

<p>
  <b>Quelle classe?:</b>
  <%= @moyen_transport.classe %>
</p>

<p>
  <b>Utilisation du parking de la gare?:</b>
  <%= @moyen_transport.parkingGare %>
</p>

<p>
  <b>Réservation?:</b>
  <%= @moyen_transport.reservation %>
</p>

<p>
  <b>Avec couchette?:</b>
  <%= @moyen_transport.couchette %>
</p>

<p>
  <b>Dans un wagon lit?:</b>
  <%= @moyen_transport.wagonLit %>
</p>

<p>
  <b>Un supplément?:</b>
  <%= @moyen_transport.supplements %>
</p>

<p>
  <b>Taxi?:</b>
  <%= @moyen_transport.taxi %>
</p>

<p>
  <b>Location de véhicule?:</b>
  <%= @moyen_transport.vehiculeLoue %>
</p>

<p>
  <b>Metro?:</b>
  <%= @moyen_transport.metro %>
</p>

<p>
  <b>RER?:</b>
  <%= @moyen_transport.rer %>
</p>

<p>
  <b>Autobus?:</b>
  <%= @moyen_transport.autobus %>
</p>

<p>
  <b>Tramway?:</b>
  <%= @moyen_transport.tramway %>
</p>

<p>
  <b>Mission avec transport?:</b>
  <%= @moyen_transport.missionAvecTransport %>
</p>

<p>
  <b>Véhicule administratif?:</b>
  <%= @moyen_transport.vehiculeAdmin %>
</p>

<p>
  <b>Frais d'autoroute?:</b>
  <%= @moyen_transport.fraisAutoroute %>
</p>

<p>
  <b>Frais de parking?:</b>
  <%= @moyen_transport.parking %>
</p>

<p>
  <b>Utilisation du véhicule personnel?:</b>
  <%= @moyen_transport.vehiculePerso %>
</p>

<p>
  <b>Demander une autorisation ponctuelle pour ce véhicule?:</b>
  <%= @moyen_transport.demandeAutorisationPonctuelleVehicule %>
</p>


<%= link_to 'Edit', edit_moyen_transport_path(@moyen_transport) %> |
<%= link_to 'Back', moyen_transports_path %>
