<p id="notice"><%= notice %></p>

<p>
  <b>Avion:</b>
  <%= @moyen_transport.avion %>
</p>

<p>
  <b>Parkingaeroport:</b>
  <%= @moyen_transport.parkingAeroport %>
</p>

<p>
  <b>Train:</b>
  <%= @moyen_transport.train %>
</p>

<p>
  <b>Class:</b>
  <%= @moyen_transport.class %>
</p>

<p>
  <b>Parkinggare:</b>
  <%= @moyen_transport.parkingGare %>
</p>

<p>
  <b>Reservation:</b>
  <%= @moyen_transport.reservation %>
</p>

<p>
  <b>Couchette:</b>
  <%= @moyen_transport.couchette %>
</p>

<p>
  <b>Wagonlit:</b>
  <%= @moyen_transport.wagonLit %>
</p>

<p>
  <b>Supplements:</b>
  <%= @moyen_transport.supplements %>
</p>

<p>
  <b>Taxi:</b>
  <%= @moyen_transport.taxi %>
</p>

<p>
  <b>Vehiculeloue:</b>
  <%= @moyen_transport.vehiculeLoue %>
</p>

<p>
  <b>Metro:</b>
  <%= @moyen_transport.metro %>
</p>

<p>
  <b>Rer:</b>
  <%= @moyen_transport.rer %>
</p>

<p>
  <b>Autobus:</b>
  <%= @moyen_transport.autobus %>
</p>

<p>
  <b>Tramway:</b>
  <%= @moyen_transport.tramway %>
</p>

<p>
  <b>Missionavectransport:</b>
  <%= @moyen_transport.missionAvecTransport %>
</p>

<p>
  <b>Vehiculeadmin:</b>
  <%= @moyen_transport.vehiculeAdmin %>
</p>

<p>
  <b>Fraisautoroute:</b>
  <%= @moyen_transport.fraisAutoroute %>
</p>

<p>
  <b>Parking:</b>
  <%= @moyen_transport.parking %>
</p>

<p>
  <b>Vehiculeperso:</b>
  <%= @moyen_transport.vehiculePerso %>
</p>

<p>
  <b>Demandeautorisationponctuellevehicule:</b>
  <%= @moyen_transport.demandeAutorisationPonctuelleVehicule %>
</p>


<%= link_to 'Edit', edit_moyen_transport_path(@moyen_transport) %> |
<%= link_to 'Back', moyen_transports_path %>
