<!DOCTYPE html>
<html>
<head>
  <title>Projet Tutore : Missions</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
  <li>
    <%= link_to('Logout',destroy_user_session_path, :method => :delete) %>
  </li>
  <% else %>
  <li>
    <%= link_to('Login',new_user_session_path) %>
  </li>
  <% end %>

<%= link_to 'Accueil', home_index_path %>

<h1>Application : gestion des missions</h1>

<%= yield %>

</body>
</html>
